.header {
    background: $dark-blue;
}

.header__nav {
    margin: 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
}

.header__navlink {
    display: flex;
}
