.gate-pass-form {
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgb(255, 255, 255);
    >div {
        flex-grow: 1;
    }
    >.cam {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        >button {
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid;
            padding: 7px;
            background-color: rgb(255, 255, 255);
            font-weight: 600;
            &:hover {
                border-color: rgb(16, 153, 216);
                color: rgb(16, 153, 216);
            }
        }
    }
    >.form-div {
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 85%;
            width: 50%;
            >button {
                border-radius: 5px;
                border: 1px solid;
                padding: 7px;
                background-color: rgb(255, 255, 255);
                font-weight: 600;
                &:hover {
                    border-color: rgb(16, 153, 216);
                    color: rgb(16, 153, 216);
                }
            }
        }
    }
}